
/*
** Formatting for administration page
*/
div.admin-panel {
  margin: 0;
  padding: 5px 5px 15px 5px;
}

div.admin-panel .description {
  margin: 0 0 3px;
  padding: 2px 0 3px 0;
}

div.admin-panel .body {
  padding: 0 8px 2px 4px;
}

div.admin {
  padding-top: 15px;
}

div.admin .right {
  float: right;
  width: 47%;
  margin-right: 1em;
}
div.admin .left {
  float: left;
  width: 47%;
  margin-left: 1em;
}

div.admin .expert-link {
  text-align: left;
  margin-left: 1em;
  padding-left: 4px;
}

table.package {
  width: 100%;
}
table.package .description {
  width: 100%;
}
div.admin-dependencies, div.admin-required {
  font-size: 0.9em;
  color: #444;
}
span.admin-disabled {
  color: #800;
}
span.admin-enabled {
  color: #080;
}
span.admin-missing {
  color: #f00;
}

/**
 * Formatting for status report
 */
table.system-status-report th {
  border-bottom: 1px solid #ccc;
}
table.system-status-report th, table.system-status-report tr.merge-up td {
  padding-right: 30px;
}
table.system-status-report th  {
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-top: 6px;
  padding-bottom: 6px;
}
table.system-status-report tr.error th {
  background-image: url(../../misc/watchdog-error.png);
}
table.system-status-report tr.warning th {
  background-image: url(../../misc/watchdog-warning.png);
}
table.system-status-report tr.ok th {
  background-image: url(../../misc/watchdog-ok.png);
}

/**
 * Formatting for theme configuration
 */
.theme-settings-right {
  float: right;
  width: 49%;
}
.theme-settings-left {
  float: left;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}